<app-carrousel></app-carrousel>
<div class="container py-3">
  <div class="work-with-us grid grid-cols-3 lg:grid-cols-6 justify-between w-75 m-auto">
    <img src="/assets/zara.png" alt="">
    <img src="/assets/samsung.png" alt="">
    <img src="/assets/oppo.png" alt="">
    <img src="/assets/asus.png" alt="">
    <img src="/assets/hurley.png" alt="">
    <img src="/assets/dng.png" alt="">
  </div>
</div>
<app-productos-en-tendencia></app-productos-en-tendencia>
<div class="container mt-5">

  <div class="row grid grid-cols-2 gap-5">

    <div class="col">
      <div class="row flex justify-between">
        <div class="col flex flex-col gap-2 p-4">
          <p class="font-bold">Venta Bruta!!</p>
          <p>Obtenga el trato aquí</p>
          <a class="cta mt-2 p-2 px-3 block w-max rounded-3xl">Ordenar ahora</a>
        </div>
        <div class="col-auto">
          <img src="/assets/banner1.jpg" alt="">
        </div>
      </div>
    </div>

    <div class="col" style="background:#E5E8EC;">
      <div class="row">
        <div class="col flex flex-col gap-2 p-4">
          <p class="font-bold">Descuento todos los días</p>
          <p>Traje de oficina</p>
          <a class="cta mt-2 p-2 px-3 block w-max rounded-3xl">Ordenar ahora</a>
        </div>
        <div class="col-auto">
          <img src="/assets/banner2.jpg" alt="">
        </div>
      </div>
    </div>

  </div>

  <div class="row grid lg:grid-cols-3 gap-4 mt-5">

    <div class="col grid grid-cols-2 border p-3">
      <div class="h-64"><img src="/assets/procat1.jpg" class="w-full h-full object-contain"></div>
      <div class="flex flex-col gap-3">
        <p class="font-bold">Belleza</p>
        <small>Maquillaje</small>
        <small>Protección de la piel</small>
        <small>Cuidado del cabello</small>
        <small>Fragancias</small>
        <small>Cuidado de pies y manos</small>
        <small class="font-bold">Ver todo &RightArrow;</small>
      </div>
    </div>

    <div class="col grid grid-cols-2 border p-3">
      <div class="h-64"><img src="/assets/procat2.jpg" class="w-full h-full object-contain"></div>
      <div class="flex flex-col gap-3">
        <p class="font-bold">Artilugio</p>
        <small>Cámara</small>
        <small>Celulares</small>
        <small>Computadoras</small>
        <small>GPS & Navegación</small>
        <small class="font-bold">Ver todo &RightArrow;</small>
      </div>
    </div>

    <div class="col grid grid-cols-2 border p-3">
      <div class="h-64"><img src="/assets/procat3.jpg" class="w-full h-full object-contain"></div>
      <div class="flex flex-col gap-3">
        <p class="font-bold">Decoración del hogar</p>
        <small>Cocina</small>
        <small>Comedor</small>
        <small>Despensa</small>
        <small>Buena habitación</small>
        <small>Rincón del desayuno</small>
        <small class="font-bold">Ver todo &RightArrow;</small>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>