<div class="subscribe flex flex-col lg:flex-row justify-center py-8 gap-4 mt-5 px-4">
  <div class="flex flex-col gap-2">
    <p class="font-bold text-2xl">Suscríbase a nuestro boletín</p>
    <p>Reciba actualizaciones por correo electrónico sobre nuestra última tienda y <span style="color:#ff6b6b">ofertas
        especiales</span></p>
  </div>
  <div class="email flex items-end">
    <div class="flex bg-white text-gray-500 items-center pr-20 py-2 rounded-l-lg gap-2 pl-2">
      <i class="far fa-envelope"></i>
      <input class="outline-none" type="email" placeholder="Introducir correo">
    </div>
    <div class="cta py-2 px-3 rounded-r-lg cursor-pointer">
      <span class="font-semibold">Suscribete</span>
    </div>
  </div>
</div>

<div class="options py-5 bg-slate-100">
  <div class="container">
    <div class="row grid sm:grid-cols-4">
      <div class="col flex flex-col">
        <p class="font-bold">Ayuda y contacto</p>
        <a class="hover:underline text-gray-500 hover:text-gray-500 text-sm" href="#">Su cuenta</a>
        <a class="hover:underline text-gray-500 hover:text-gray-500 text-sm" href="#">Tus ordenes</a>
        <a class="hover:underline text-gray-500 hover:text-gray-500 text-sm" href="#">Tarifas de envio</a>
        <a class="hover:underline text-gray-500 hover:text-gray-500 text-sm" href="#">Devoluciones</a>
        <a class="hover:underline text-gray-500 hover:text-gray-500 text-sm" href="#">Asistente</a>
        <a class="hover:underline text-gray-500 hover:text-gray-500 text-sm" href="#">Ayuda</a>
        <a class="hover:underline text-gray-500 hover:text-gray-500 text-sm" href="#">Contacta con nosotros </a>
      </div>

      <div class="col flex flex-col">
        <p class="font-bold">Categorías de Producto</p>
        <a class="hover:underline text-gray-500 hover:text-gray-500 text-sm" href="#">Belleza</a>
        <a class="hover:underline text-gray-500 hover:text-gray-500 text-sm" href="#">Electrónica</a>
        <a class="hover:underline text-gray-500 hover:text-gray-500 text-sm" href="#">Moda femenina</a>
        <a class="hover:underline text-gray-500 hover:text-gray-500 text-sm" href="#">Moda de hombres</a>
        <a class="hover:underline text-gray-500 hover:text-gray-500 text-sm" href="#">Moda para niñas</a>
        <a class="hover:underline text-gray-500 hover:text-gray-500 text-sm" href="#">Moda para niños</a>
        <a class="hover:underline text-gray-500 hover:text-gray-500 text-sm" href="#">Salud y hogar</a>
        <a class="hover:underline text-gray-500 hover:text-gray-500 text-sm" href="#">Hogar y cocina</a>
        <a class="hover:underline text-gray-500 hover:text-gray-500 text-sm" href="#">Suministros de mascotas</a>
        <a class="hover:underline text-gray-500 hover:text-gray-500 text-sm" href="#">Deportes</a>
      </div>

      <div class="col flex flex-col">
        <p class="font-bold">Información de pago</p>
        <a class="hover:underline text-gray-500 hover:text-gray-500 text-sm" href="#">Tarjeta de visita</a>
        <a class="hover:underline text-gray-500 hover:text-gray-500 text-sm" href="#">Compra con Puntos</a>
        <a class="hover:underline text-gray-500 hover:text-gray-500 text-sm" href="#">Recarga tu saldo</a>
        <a class="hover:underline text-gray-500 hover:text-gray-500 text-sm" href="#">PayPal</a>
      </div>

      <div class="col flex flex-col">
        <p class="font-bold">Sobre nosotros</p>
        <a class="hover:underline text-gray-500 hover:text-gray-500 text-sm" href="#">Compra con Puntos</a>
        <a class="hover:underline text-gray-500 hover:text-gray-500 text-sm" href="#">Recarga tu saldo</a>
        <a class="hover:underline text-gray-500 hover:text-gray-500 text-sm" href="#">PayPal</a>
        <a class="hover:underline text-gray-500 hover:text-gray-500 text-sm" href="#">Sobre nosotros</a>
        <a class="hover:underline text-gray-500 hover:text-gray-500 text-sm" href="#">Información de la compañía</a>
        <a class="hover:underline text-gray-500 hover:text-gray-500 text-sm" href="#">Noticias</a>
        <a class="hover:underline text-gray-500 hover:text-gray-500 text-sm" href="#">Inversores</a>
        <a class="hover:underline text-gray-500 hover:text-gray-500 text-sm" href="#">Carreras</a>
        <a class="hover:underline text-gray-500 hover:text-gray-500 text-sm" href="#">Políticas</a>
        <a class="hover:underline text-gray-500 hover:text-gray-500 text-sm" href="#">Valoración de los clientes</a>
      </div>

    </div>
  </div>
</div>

<div class="bottom flex justify-center mt-5 flex-col items-center gap-3 pb-5">
  <p class="logo text-3xl font-bold relative">.Jhossy</p>
  <div class="socials flex gap-3">
    <a href="#" class="w-6 bg-slate-300 rounded-full text-center"><i class="fa fa-twitter"></i></a>
    <a href="#" class="w-6 bg-slate-300 rounded-full text-center"><i class="fa fa-facebook"></i></a>
    <a href="#" class="w-6 bg-slate-300 rounded-full text-center"><i class="fa fa-instagram"></i></a>
    <a href="#" class="w-6 bg-slate-300 rounded-full text-center"><i class="fab fa-linkedin-in"></i></a>
    <a href="#" class="w-6 bg-slate-300 rounded-full text-center"><i class="fa fa-youtube"></i></a>
  </div>
  <small class="text-gray-500">&copy;Copyrigth 2022 © Todos los derechos reservados.</small>
</div>