<div class="up hidden lg:flex justify-around text-sm text-gray-500 mt-4">
  <ul class="flex gap-3">
    <li><a href="#">Blog</a></li>
    <li><a href="#">Productos descatados</a></li>
    <li><a href="#">Lista de deseos</a></li>
  </ul>
  <ul class="flex gap-3">
    <li><a href="#">Sign up</a></li>
    <li><a href="#">Mi cuenta</a></li>
    <li><a href="#">Rastreo de orden</a></li>
    <select>
      <option>SOL</option>
      <option>USD</option>
      <option>EURO</option>
      <option>GBP</option>
    </select>
    <select>
      <option>Español</option>
      <option>Ingles</option>
      <option>German</option>
      <option>Portugues</option>
    </select>
  </ul>
</div>
<nav class="flex justify-between items-center px-5 mt-5 sm:mt-0">
  <div>
    <p class="logo text-3xl font-bold relative">.Jhossy</p>
  </div>
  <ul class="flex gap-3">
    <li><a class="font-semibold hover:text-gray-500 text-lg" href="/inicio">Inicio</a></li>
    <li><a class="font-semibold hover:text-gray-500 text-lg" href="/productos">Productos</a></li>
    <li><a class="font-semibold hover:text-gray-500 text-lg" href="/contacto">Contacto</a></li>
  </ul>
  <div class="options hidden sm:flex items-center gap-6">
    <div class="heart relative">
      <img class="cursor-pointer"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Ei-heart.svg/1200px-Ei-heart.svg.png" width="30">
    </div>
    <div class="cart cursor-pointer relative ">
      <img src="http://cdn.onlinewebfonts.com/svg/img_379628.png" width="25">
    </div>
    <div class="total relative flex flex-col"><small>Total</small>
      <p class="text-sm font-bold">S/0.00</p>
    </div>
  </div>
</nav>