<div class="container flex gap-5 mt-5">
  <div class="col-2 types hidden lg:block h-max">
    <div class="all-departments text-white px-3 py-2 rounded-t-lg font-semibold">
      <p>Todos los departamentos</p>
      <p>Total 1059 Productos</p>
    </div>
    <ul>
      <li class="border-b p-2 border-gray-400">
        <a class="font-semibold text-sm" href="#">Belleza</a>
      </li>
      <li class="border-b p-2 border-gray-400">
        <a class="font-semibold text-sm" href="#">Electrónica</a>
      </li>
      <li class="border-b p-2 border-gray-400">
        <a class="font-semibold text-sm" href="#">Moda Femenina</a>
      </li>
      <li class="border-b p-2 border-gray-400">
        <a class="font-semibold text-sm" href="#">Moda de hombres</a>
      </li>
      <li class="border-b p-2 border-gray-400">
        <a class="font-semibold text-sm" href="#">Moda para niñas</a>
      </li>
      <li class="border-b p-2 border-gray-400">
        <a class="font-semibold text-sm" href="#">Moda para niños</a>
      </li>
      <li class="border-b p-2 border-gray-400">
        <a class="font-semibold text-sm" href="#">Salud y hogar</a>
      </li>
      <li class="border-b p-2 border-gray-400">
        <a class="font-semibold text-sm" href="#">Hogar y Cocina</a>
      </li>
      <li class="border-b p-2 border-gray-400">
        <a class="font-semibold text-sm" href="#">Suministro de Mascota</a>
      </li>
      <li class="border-b p-2 border-gray-400">
        <a class="font-semibold text-sm" href="#">Deportes</a>
      </li>
      <li class="border-b p-2 border-gray-400">
        <a class="font-semibold text-sm" href="#">Lo más vendido</a>
      </li>
    </ul>
  </div>
  <div class="col-11 slider hidden lg:block">
    <div id="mycarrousel" class="carousel slide w-5/6" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/assets/slider0.jpg" class="d-block object-cover" alt="image-slider">
        </div>
        <div class="carousel-item">
          <img src="/assets/slider1.jpg" class="d-block object-cover" alt="image-slider">
        </div>
        <div class="carousel-item">
          <img src="/assets/slider2.jpg" class="d-block object-cover" alt="image-slider">
        </div>
        <div class="carousel-item">
          <img src="/assets/slider3.jpg" class="d-block object-cover" alt="image-slider">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#mycarrousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#mycarrousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>